<%- include ("./share/head.ejs") %> 
  </head>

  <body>
    <div class="login">
      <form id="formSubmitLogin" method="post" action="/admin/reset">
        <div class="login-header">
          <img src="https://cohos.in/images/admin.png" alt="" />
        </div>
        <div class="form-item">
          <input
            type="text"
            placeholder="Username"
            id="username"
            name="username"
            value=""
          />
          <i class="ti-user"></i>
        </div>
        <button class="d-flex align-items-center justify-content-center" type="submit">RESET</button>
      </form>
    </div>
    <%- include ("./share/message.ejs") %> <%- include ("./share/scripts.ejs")
    %>
  </body>
</html>
