label.error {
    background-color: rgba(220, 53, 69, 0.9);
    color: #fff;
    font-size: 12px;
    border-radius: 0.25rem !important;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
  }