<div class="wrapper__sidebar" id="sidebar">
    <div class="wrapper__sidebar__container">
        <div class="wrapper__sidebar__logo">
            <span>Admin</span>
        </div>
        <ul class="wrapper__sidebar__menu-list">
            <li class="wrapper__sidebar__menu-item <% if (pageName == "statistic") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/statistic" class="wrapper__sidebar__menu-link">
                    <i class="ti-stats-up"></i>
                    <span>Statistic</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item <% if (pageName == "profile") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/profile" class="wrapper__sidebar__menu-link">
                    <i class="ti-id-badge"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item <% if (pageName == "admin") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/admins" class="wrapper__sidebar__menu-link">
                    <i class="fas fa-users-cog"></i>
                    <span>Admin</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item <% if (pageName == "customer") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/customers" class="wrapper__sidebar__menu-link">
                    <i class="ti-user"></i>
                    <span>Customer</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item <% if (pageName == "category") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/categories" class="wrapper__sidebar__menu-link">
                    <i class="ti-menu-alt"></i>
                    <span>Category</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item <% if (pageName == "brand") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/brands" class="wrapper__sidebar__menu-link">
                    <i class="ti-medall"></i>
                    <span>Brand</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item <% if (pageName == "product") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/products" class="wrapper__sidebar__menu-link">
                    <i class="ti-server"></i>
                    <span>Product</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item <% if (pageName == "coupon") { %>
                wrapper__sidebar__menu-item--active
            <% } %>">
                <a href="/admin/coupons" class="wrapper__sidebar__menu-link">
                    <i class="ti-bookmark"></i>
                    <span>Coupon</span>
                </a>
            </li>
            <!-- <li class="wrapper__sidebar__menu-item">
                <a href="" class="wrapper__sidebar__menu-link">
                    <i class="ti-map"></i>
                    <span>Maps</span>
                </a>
            </li>
            <li class="wrapper__sidebar__menu-item">
                <a href="" class="wrapper__sidebar__menu-link">
                    <i class="ti-bell"></i>
                    <span>Notifications</span>
                </a>
            </li> -->
            <a href="/admin/logout" class="link-logout">LOGOUT</a>
        </ul>
    </div>
</div>