<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aranoz</title>
    <link rel="icon" href="/images/favicon.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="/stylesheets/css/animate.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/lightslider.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!-- nice select CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/css/nice-select.css"> -->
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/css/flaticon.css" />
    <link rel="stylesheet" href="/stylesheets/css/themify-icons.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css" />
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/stylesheets/css/slick.css" />
    <link rel="stylesheet" href="/stylesheets/css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-217216324-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-217216324-1');
    </script>
    